<%_ let _plugin = typeof plugin != 'undefined' ? plugin : [] _%>
<header class=" navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-info navbar-expand-lg sticky-top">
  <a class="navbar-brand" href="/areffect/index.html" style="margin-left:80px">
    <img src="/images/snapchat.jpeg" width="50" height="40" alt="snapchat" style="border-radius: 6px;" >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse show w-100 clearfix ugc-navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-5 float-left">
      <li class="nav-item mr-4">
        <a class="nav-link ar-effect <%= lf_nav == 'index' ? 'active' : '' %>" href="/areffect/index.html">首页</a>
      </li>
  </div>
</header>
<%- include('../../public/header', {
nav: 'areffect',
plugin: [].concat(typeof plugin == 'undefined' ? [] : plugin)
}) _%>
<main class="col-md-9 col-lg-11 pt-3 px-4" style="margin: 0 auto">

<style>
	.nav-link{
		font-size: 16px!important;
	}
</style>
